:root{
  --border-radius: 10px;
  --color-dark: #dbdbdb;
  --color-nprm: #ececec;
  --color-light: #f3f3f3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table{
  width: 100%;
  max-width: 900px;
  margin: auto;
  border-collapse:collapse;
}
th,
td{
  background-color: #7887ab;
}
thead{
  color: var(--color-light);
  
}
thead th:first-child{
  border-top-left-radius: var(--border-radius);
}
thead th:last-child{
  border-top-right-radius: var(--border-radius);
  background-color: #170d51;
}
tfoot th:first-child{
  border-bottom-left-radius:  var(--border-radius);
}
tfoot th:last-child{
  border-bottom-right-radius: var(--border-radius);
}
tbody tr:nth-child(odd) td:nth-child(odd), tfoot th:nth-child(odd) {
  background-color: var(--color-dark);
}
tbody tr:nth-child(odd) td:nth-child(even),
tbody tr:nth-child(even) td:nth-child(odd),
tfoot th:nth-child(even){
  background-color: var(--color-nprm);
}
tbody tr:nth-child(even) td:nth-child(even){
  background-color: var(--color-light);
}
tbody td:not(td:first-child){
  width: ;
}